:root {
  /* ========== Pink ========== */
  --light-coral: #f08080;
  /* ========== Green_Sea ========== */
  --medium-sea-green: #3cb371;
  /* ========== Light_Pink ========== */
  --light-pink: #ffb6c1;
  /* ========== Aqua_Green ========== */
  --aqua: #00ffff;
  /* ========== Sun ========== */
  --yellow: #ffff00;
  /* ========== Sky ========== */
  --blue: #3939ea;
  /* ========== Navy_Blue ========== */
  --navy: #000080;
  /* ========== Violet ========== */
  --dark-violet: #9400d3;
  /* ========== Bisque_White ========== */
  --bisque: #ffe4c4;
  /* ========== WHITE ========== */
  --white: #ffffff;
  /* ========== Lipstick_Color ========== */
  --brown: #a52a2a;
  /* ========== Dark ========== */
  --dark: #000000;
  /* ========== Slate ========== */
  --text: #434455;
  /* ========== Navy_dark ========== */
  --background-dark: #2e2f42;
  /*  Transition Duration + Temporary-Function  */
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Zen Old Mincho", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-weight: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

ul a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 90px 15px;
}

/* ========== ID CSS ========== */

#text-color {
  color: #a52a2a;
}

/* ========== Child-CSS ========== */
/* ========== Працює тільки зі своїм прямим нащадком ========== */

.id-css > em {
  color: #000000;
}

/* ========== Button_List_Focus_Hover_Active_Visited ========== */

.button-list {
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}

.button-li > button {
  width: 200px;
  height: 100%;
  font-size: 16px;
  font-weight: 1.2;
  letter-spacing: 0.02em;
  border-radius: 2px;
  border-color: var(--brown);
  background-color: var(--dark);
  color: var(--yellow);
}

.button-li > button:hover,
.button-li > button:focus {
  color: var(--navy);
  background-color: var(--brown);
  border-color: var(--aqua);
}

.button-li > button:active {
  background-color: var(--yellow);
}

.button-li > button:visited {
  color: var(--aqua);
}

/* ========== CSS-Variables(var,Before,After) ========== */

.section-variables{
  border: 1px solid var(--dark);
  border-radius: 4px;
  background-color: var(--light-coral);
}

.title{
  content:'';
  font-size: 36px;
  font-weight: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text);
}

/* не работает! Почему ?
 */

/* .title::before{
  background-image: url(../icons/icons_lyrics.svg#icon-email);
  fill:var(--dark);
} */