body {
  margin: 0 auto;
  background-image: url(./img/background.jpg);
  height: 100vh;
  display: grid;
  place-items: center;
  color: white;
}

button {
  cursor: pointer;
}

.form {
  border: 1px solid rebeccapurple;
  border-radius: 7px;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgba(28, 35, 91, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-part-box {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.form-part-box > label {
  font-size: 20px;
  letter-spacing: 0.03em;
  height: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box > input {
  width: 250px;
  height: 20px;
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.input-box > input:hover {
  height: 30px;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box > button {
  padding: 10px 15px;
  border: 1px solid blue;
  border-radius: 7px;
  background-color: cornflowerblue;
  color: darkblue;
  font-size: 18px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 100px #03e9f4;
}
